page-login {
  .login-logo {
    text-align: center ;
    position: relative;
    left: 0;
    right: 0;
    top: 30%;
    #i-ticket {
      fill: $dominant-black;
      font-size: 6rem;
      font-family: "Noto Sans", "Noto Sans CJK KR";
    }
  }
  .login-button {
    color : $dominant-black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;

    .google-login-button {
      height : 4rem;
    }
    .seller-login-button {
      font-family: "Noto Sans", "Noto Sans CJK KR";
      margin-top: 0px;
      font-size: 1.2rem;
    }
  }
}
