page-login {
  ion-content {
    text-align: center ;
  }
  .logo {
    // margin-top : 200px ;
    text-align: center ;
    // transform: rotate(90deg) ;

    position: relative;
    left: 0;
    right: 0;
    top: 30%;
    .cls-1 {
      fill: #4a4747;
      font-size: 83px;
      font-family: "Noto Sans", "Noto Sans CJK KR";
    }
  }
  .button {
    color : $dominant-black;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 10%;
    // margin-top : 100px;
    text-align: center;
    img {
      height : 48px;
    }
  }
}
