star-review {
  
    text-align: center;
    width: 100%;
    fieldset, label { 
      margin: 0; 
      padding: 0; 
    }
    span{
      text-align: center;
      font-size: 15px;
    }
    body{ margin: 20px; }
    h1 { font-size: 1.5em; margin: 10px; }
    h3 {
      text-align: center;
      width: 100%;
      font-size: 15px;
      font-weight: bold;
    }

    .rating {   
    border: none;
    display: initial;
   }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
}
