<ion-header>
  <ion-navbar>
    <span class="title">공연 정보</span>
    <button class="top-button" menuToggle end>
      <img src="assets/icon/icon-ticket.svg">
    </button>
  </ion-navbar>
  <ion-segment class="top-segment" [(ngModel)]="category">
		<ion-segment-button class="noLine" value="time">시간순</ion-segment-button>
		<ion-segment-button class="noLine" value="group">
      단체별
      <ion-select [(ngModel)]="groupname" interface="popover">
        <ion-option *ngFor="let team of groupnames | async" (ionSelect)="getGroup(team)" value="{{team.name}}">
          {{team.name}}
        </ion-option>
      </ion-select>
    </ion-segment-button>
		<ion-segment-button disabled class="noLine" value="null"></ion-segment-button>
		<ion-segment-button disabled class="noLine" value="null"></ion-segment-button>
		<ion-segment-button disabled class="noLine" value="null"></ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>
  <div class="content" [ngSwitch]="category">
    <ion-list id="time" *ngSwitchCase="'time'">
      <div *ngFor="let mon of monthForView; let i=index" class="month">
        <div *ngIf="mon > 0"  class="month-title">
          <div class="line-cutter">
            <!-- <div> {{year}}년 {{mon}}월 </div> -->
            <div> {{mon}}월 </div>
          </div>
        </div>
        <div *ngFor="let list of list_time">
          <ion-card class="card-card" *ngIf="mon==(list['date'][0] | date:'MM')" (click)="goDetailPage(list)">
            <img src="{{list.img}}">
            <div class="card-shadow"></div>
            <div class="card-info">
              <div class="card-title">{{list.title}}</div>
              <div class="card-subtitle">{{list['date'][0] | date:'yyyy-MM-dd'}}</div>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-list>

    <ion-list id="group" *ngSwitchCase="'group'">
      <div *ngFor="let group of groups" class="main-performance">
        <div class="title">
          <span>{{group.name}}</span>
        </div>
        <div class="thumbnail">
          <img src="{{group.sellerImg}}">
        </div>
        <div class="content">
          <p>{{group.sellerIntroduce}}</p>
        </div>
      </div>
      <div class="month">
        <div class="month-title">
          <div class="line-cutter">
            <span>현재 진행 중인 공연</span>
          </div>
        </div>
        <div *ngFor="let list of list_team | async" (click)="goDetailPage(list)" class="performences">
          <div *ngIf="list.status!='종료된 공연'" class="performence">
            <div class="thumbnail">
              <img src="{{list.img}}">
            </div>
            <div class="per-info">
              <div>
                <button *ngIf="list.status=='판매 중'" ion-button outline class="selling"> 판매중 </button>
                <button *ngIf="list.status=='판매 예정'" ion-button outline class="will"> 판매 예정 </button>
                <button ion-button outline [hidden]="list.price!='0'" class="free"> 무료 공연 </button>
              </div>
              <span class="title">{{list.title}}</span>
              <span class="date">{{list['date'][0] | date:'yyyy-MM-dd hh:mm'}}</span>
              <span class="space">{{list.location}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="month">
        <div class="month-title">
          <div class="line-cutter">
            <span>지난 공연</span>
          </div>
        </div>
        <div *ngFor="let list of list_team | async" (click)="goDetailPage(list)" class="performences">
          <div *ngIf="list.status=='종료된 공연'" class="performence">
            <div class="thumbnail">
              <img src="{{list.img}}">
            </div>
            <div class="per-info">
              <div>
                <button ion-button outline class="sold-out">종료된 공연</button>
                <button ion-button outline [hidden]="list.price!='0'" class="free">무료 공연</button>
              </div>
              <span class="title">{{list.title}}</span>
              <span class="date">{{list['date'][0] | date:'yyyy-MM-dd hh:mm'}}</span>
              <span class="space">{{list.location}}</span>
            </div>
          </div>
         </div>
      </div>
    </ion-list>
  </div>
</ion-content>
