page-seller-setting {
  .image-box {
    width: 100%;
    padding: 5% 10%;
    text-align: center;
    // margin: 10%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // .image {
    //   width: 50%;
    // }
    // .image-text {
    //   text-align: center;
    // }
  }
  .info-box {
    width: 100%;
    padding: 5% 10% 10% 10%;

    .info-phone {
      display: flex;
      flex-direction: row;
      .info-phone-label {
        border-left: 3px solid $dominant-main;
        padding: 0 15px;
        font-size: 12px;
        font-weight: 550;
      }
      .info-phone-input {
        text-align: left;
        border: 0px;
      }
    }
    .info-intro {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      width: 100%;
      border-left: 3px solid $dominant-main;
      .info-intro-label {
        padding: 0 15px;
        text-align: left;
        border: 0px;
        font-weight: 550;
      }
      .info-intro-input {
        width: 100%;
        height: 20rem;
        border: 0;
      }
    }
  }
  .button {
    width: 100%;
    padding: 0 10%;
    // position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    .edit-button {
      width: 100%;
      height: 4rem;
      border-radius: 5px;
      color: $dominant-white;
      background-color: $dominant-main;
      font-size: 14px;
      font-weight: bold;
    }
  }
  button.disable-hover.item-button.button {
    background-color: $dominant-main;
  }


  // placeholder
  ::-webkit-input-placeholder {
    font-size: 14px;
    color: $dominant-lightgray;
    text-align: left;
    // text-transform: uppercase;
  }
  :-moz-placeholder {
    /* older Firefox*/
    font-size: 14px;
    color: $dominant-lightgray;
    text-align: left;
    // text-transform: uppercase;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
    color: $dominant-lightgray;
    text-align: left;
    // text-transform: uppercase;
  }
  :-ms-input-placeholder {
    font-size: 14px;
    color: $dominant-lightgray;
    text-align: left;
    // text-transform: uppercase;
  }
}