page-seller-setting {
    .image-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .image {
            width: 50%;
        }
        .image-text {
            text-align: center;
        }
    }
    .info-box {
        margin: 20px 10% 0 10%;
        padding-bottom: 10px;
        .info-phone {
            display: flex ;
            flex-direction: row ;
            .phone-label {
                border-left: 3px solid $dominant-blue ;
                padding-left: 15px ;
                font-size: 18px;
                font-weight: 550;
            }
            .phone-input {
                text-align: center;
                border: 0px;
            }
        }
        .text {
            margin-top: 30px ;
            padding-left: 15px ;
            width: 100% ;
            border: 0 ;
            border-left: 3px solid $dominant-blue ;
        }
    }
    ion-textarea {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        height: 400px;
        .text-input {
            height: 400px;
        }
        .input-cover {
            height: 430px;
        }
    }
    ul {
        background-color: rgb(238, 242, 252);
        padding-left: 0px;
    }
    h6 {
        font-weight: bold;
        text-align: center;
    }
    ion-input {
        input {
            text-align: center !important;
        }
    }
    button.disable-hover.item-button.button {
        background-color: $dominant-main;
    }
    .scroll-content {
        padding: 0px !important;
    }
    ::-webkit-input-placeholder {
        font-size: 14px;
        color: #d0cdfa;
        text-transform: uppercase;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    :-moz-placeholder {
        /* older Firefox*/
        font-size: 14px;
        color: #d0cdfa;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
        color: #d0cdfa;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    :-ms-input-placeholder {
        font-size: 14px;
        color: #d0cdfa;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}