<ion-header>
  <ion-navbar>
    <span class="title">내가 평가한 공연 목록</span>
    <button class="top-button" menuToggle end>
      <img src="assets/icon/icon-ticket.svg">
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-xl-3>
        <ion-list *ngIf="reviewed_num">
          <ion-item *ngFor="let list of info; let i = index;" (click)="goDetailPage(list.id)">
            <!--티켓구매리스트를 만들어야 함-->
            <ion-thumbnail item-start>
              <img class="thumb_img" src="{{ list[i]['img'] }}">
            </ion-thumbnail>
            <ion-grid>
              <ion-row class="First_row">
                <ion-col>
                  <p class="index">TITLE :</p>
                  <span class="spantitle">{{ list[i]['title'] }}</span> 
                </ion-col>
              </ion-row>
              <ion-row class="Second_row">
                <ion-col col-8 class="dateClass">
                  <p class="index">DATE : </p>
                  <span>{{ list[i]['date'][0] | date:'yy년 MM월 dd일 ' }}</span> 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-12 col-sm class="finishedConcert">
        <!-- <ion-list *ngIf="done_num">
          <ion-list-header style="font-weight:bold;">
            지난 공연
          </ion-list-header>
          <ion-item *ngFor="let list of closed_list; let i = index;"> -->
            <!--티켓구매리스트를 만들어야 함-->
            <!-- <ion-thumbnail item-start>
              <img class="thumb_img" src="{{ list.concert_obj['img'] }}">
            </ion-thumbnail>

            <ion-row class="First_row">
              <ion-col class="First_row_content">
                <p>TITLE :</p>
                <span class="spantitle">{{ list.concert_obj['title'] }}</span> 
              </ion-col>
            </ion-row>

            <ion-row class="Second_row">
              <ion-col col-8>
                <p>DATE : </p>
                <span>{{ list.date | date:'yy년 MM월 dd일 ' }}</span> 
              </ion-col>
              <ion-col>
                <p>TIME : </p>
                <span>{{ list.date | date:'hh:mm' }} - {{ endTimes[i] | date: 'hh:mm'}}</span> 
              </ion-col>
            </ion-row>

            <ion-row class="Third_row">
              <ion-col col-8>
                <p>SEAT : </p>
                <span *ngFor="let seat of list.seats"> {{ seat.info }} </span>
              </ion-col>
              <ion-col>
                <p>STATUS : </p>
                <span>종료된 공연</span> 
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list> -->

        <ion-list *ngIf="reviewed_num==0">
          <ion-item>
            <p>평점을 남긴 공연이 없습니다.</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>