page-seller-ticket-manage {
    ion-card{
        padding-bottom:10px;
        border-bottom: 1px solid $dominant-main;
    }
    .card-ios{
        box-shadow: 0 0px 0px 0 ;
    }
    .card-md{
        box-shadow: 0 0px 0px 0 ;
    }
    .input-wrapper{
        height: 200px;
    }
    .top-segment{
        background-color : #F5F6F7 ;
		height : 40px ;
		padding : 0px 5px
    }
    ion-row{
        margin-left: 10px;
        font-family: "Noto Sans", "Noto Sans CJK KR";
        // font-family: 'NanumBarunGothic';
    }
    ion-label{
        color: #c1c1c1 ;
        font-weight: bold;
    }
    p{
        font-weight: bold;
    }
    .butt{
        background-color: $dominant-main ;
        width: 90px;
        height: 40px;
        margin-top: 10px;
        color: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 12px 18px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
    .status{
        color:$dominant-red;
    }
}
